{% load static %}

<form class="find-councillor slab-light-gray" action="{% url 'councillor' %}" method="GET">
  <h3>Find your ward councillor</h3>

  <label for="address" class="form-label">What is your address?</label>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" id="address" name="address" value="{{ address }}">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Go">
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-3 locate-button">
      <button type="button" class="btn btn-primary locate full-xs">
        <i class="fa fa-map-marker"></i> <span>Use your location</span>
      </button>
    </div>

    <div class="col-sm-3">
      <a id="form-logo" href="http://code4sa.org"><img src="{% static 'bower_components/code4sa-styles/images/code4sa_logo_black.png' %}"></a>
    </div>

  </div>
</form>

<p class="text-right">
  <a href="#embed-modal" data-toggle="modal">Add this to your website</a>
  |
  Data from the <a href="https://www.elections.org.za/content/For-voters/who-is-my-councillor-/" target="_blank">IEC</a> and others
  |
  <a href="https://github.com/Code4SA/nearby" target="_blank">Source on GitHub</a>
</p>

<div class="modal fade" id="embed-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add this to your website</h4>
      </div>
      <div class="modal-body">
        <p>It's easy to add this tool to your website, just cut and paste the code below.</p>
        <p><strong>Important: don't change the ID of the <code>councillor-iframe</code> tag.</strong></p>
        <pre>
&lt;div id="councillor-iframe"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="http://nearby.code4sa.org/static/councillor-embed.js"&gt;&lt;/script&gt;
        </pre>
        <p>Contact <a href="mailto:info@code4sa.org">info@code4sa.org</a> with any questions.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
