{% extends "layout.html" %}

{% block head-meta %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://nearby.code4sa.org{% url 'councillor' %}">
  <meta property="og:title" content="Find your Ward Councillor">
  <meta property="og:description" content="Your ward councillor is your representative in your municipality. Find your councillor and their contact details here.">
  <meta property="og:image" content="http://code4sa.org/img/logo-big.png">
  <meta property="og:site_name" content="Find your Ward Councillor - Code for South Africa">
{% endblock %}

{% block content %}

  {% block main-content %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

{% endblock %}
