<p>Hello from the front lines!</p>

<p>Someone has suggested new Ward Councillor details</p>

<p>Please do the following:</p>

<ol>
<li>Review the details at <a href="https://docs.google.com/spreadsheets/d/1rtez8t8MGtG7vTQe-wyCrIgsgejwddoshrPkYPECC7E/edit#gid=727302557">https://docs.google.com/spreadsheets/d/1rtez8t8MGtG7vTQe-wyCrIgsgejwddoshrPkYPECC7E/edit#gid=727302557</a></li>
<li>If they make sense, copy the values into the <b>ward_id</b>, <b>councillor name</b>, <b>councillor email</b> and <b>councillor phone</b>
columns into the <b>LIVE DATA</b> spreadsheet</li>
<li>Be sure to replace the row for the ward if it already exists</li>
</ol>

<p>The suggested details are:</p>

<ul>
<li><b>Ward id:</b> {{ ward_id }}</li>
<li><b>Councillor name:</b> {{ councillor_name }}</li>
<li><b>Councillor phone:</b> {{ councillor_phone }}</li>
<li><b>Councillor email:</b> {{ councillor_email }}</li>
</ul>

<ul>
<li><b>Suggestors email:</b> {{ email }}</li>
</ul>

<p>Thanks!</p>
