{% extends "councillor/layout.html" %}

{% block title %}Ward {{ location.ward_id }}, {{ location.municipality}} - Ward Councillor{% endblock %}
{% block main-content %}

<div class="container-fluid ward-councillor-info">
  <div class="councillor">
    <h1>{{ location.councillor.Name }}<br><span class="small">Ward  Councillor</span></h1>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <section class="councillor">
        <div class="pull-right">
          <div class="fb-share-button" data-layout="button_count" data-href="https://nearby.code4sa.org{% url 'councillor' %}"></div>
        </div>

        <h3 class="ward">Ward {{ location.ward_number }} ({{ location.ward_id }})</h3>
        <h3 class="municipality">{{ location.municipality }}, {{ location.province }}</h3>

        <ul class="list-unstyled">
          <li>
            <i class="fa fa-fw fa-phone"></i> 
            {% if location.councillor.custom_contact_details.phone %}
            {{ location.councillor.custom_contact_details.phone }}
            {% else %}
            <i>why not <a href="#suggest-modal" data-toggle="modal">suggest one</a>?</i>
            {% endif %}
          </li>
          <li>
            <i class="fa fa-fw fa-envelope"></i>
            {% if location.councillor.custom_contact_details.email %}
            <a href="mailto:{{ location.councillor.custom_contact_details.email }}">{{ location.councillor.custom_contact_details.email }}</a>
            {% else %}
            <i>why not <a href="#suggest-modal" data-toggle="modal">suggest one</a>?</i>
            {% endif %}
          </li>
          <li>
            <i class="fa fa-fw fa-flag"></i> {{ location.councillor.PartyDetail.Name }}
          </li>
        </ul>
      </section>

      <section class="municipality">
        <h3 class="municipality">{{ location.municipality }}</h3>

        <ul class="list-unstyled">
          <li>
            <i class="fa fa-fw fa-home"></i>
            <a href="http://{{ location.councillor.Municipality.ContactDetails.WebsiteUrl }}" target="_blank">{{ location.councillor.Municipality.ContactDetails.WebsiteUrl }}</a>
          </li>
          <li>
            <i class="fa fa-fw fa-phone"></i> {{ location.councillor.Municipality.ContactDetails.Tel }}
          </li>
        </ul>

      </section>

      <section>
        <button class="btn btn-default full-xs" type="button" data-target="#suggest-modal" data-toggle="modal">
          Suggest a correction
        </button>
      </section>
    </div>

    <div class="col-sm-4">
      <div id="map" data="{{ location.ward_id }}"></div>
    </div>
  </div>

  <hr>

  <section class="party">
    <h3 class="party">{{ location.councillor.PartyDetail.Name }}</h3>

    <ul class="list-unstyled">
      <li>
        <i class="fa fa-fw fa-home"></i>
        <a href="http://{{ location.councillor.PartyDetail.ContactDetails.WebsiteUrl }}" target="_blank">{{ location.councillor.PartyDetail.ContactDetails.WebsiteUrl }}</a>
      </li>
      <li>
        <i class="fa fa-fw fa-phone"></i> {{ location.councillor.PartyDetail.ContactDetails.Tel }}
      </li>
    </ul>
  </section>

  <hr>

  {% include 'councillor/_form.html' %}

  {% include 'councillor/_suggest_modal.html' %}
</div>

{% endblock %}
