--no-binary psycopg2

appdirs==1.4.3
arrow==0.5.4
asn1crypto==0.22.0
cffi==1.10.0
cryptography==2.3
dj-database-url==0.3.0
Django==1.8.2
django-extensions==1.5.0
django-memoize==1.2.0
django-pipeline==1.5.1
enum34==1.1.6
futures==3.1.1
gevent==1.2.1
greenlet==0.4.12
gspread==0.2.5
gunicorn==19.2.1
httplib2==0.10.3
idna==2.5
ipaddress==1.0.18
oauth2client==1.4.11
packaging==16.8
pathlib==1.0.1
psycopg2==2.7
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.17
pyOpenSSL==17.0.0
pyparsing==2.2.0
pyScss==1.3.4
python-dateutil==2.6.0
requests==2.14.2
rsa==3.1.4
six==1.10.0
Werkzeug==0.10.1
whitenoise==1.0.6
