body {
  background: white;
  padding-top: 10px;
}

.ward-councillor-info {
  section {
    margin-bottom: 30px;
  }

  .councillor {
    h1 {
      line-height: 0.8;
    }

    h3 {
      margin: 0px 0px 3px 0px;
    }

    ul {
      margin-top: 10px;
    }
  }
}

.find-councillor {
  margin-top: 10px;
}

.full-xs {
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
  }
}

.suggest-website {
  display: none;
}

#form-logo {
  display: block;
  text-align: center;
  border: 0px !important;

  @media (max-width: 767px) {
    margin-top: 40px;
  }

  img {
    height: 40px;
  }
}

#map {
  height: 250px;
  margin-left: -15px;
  margin-right: -15px;

  @media (min-width: 768px) {
    height: 350px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
