body {
  background: white;
  padding-top: 10px;
}

.ward-councillor-info {
  font-size: 16px;

  .find-councillor {
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 30px;
  }

  .councillor {
    h3 {
      margin: 0px;
    }

    ul {
      margin-top: 10px;
    }
  }
}

.find-councillor {
  margin-top: 10px;
}

.full-xs {
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
  }
}

.suggest-website {
  display: none;
}

footer {
  margin-top: 40px;
  margin-bottom: 40px;

  img {
    height: 40px;
  }
}
